.message {
  display: flex;
  margin: 1rem 0;
  gap: 0.5rem;
  .messageInfo {
    display: flex;
    flex-direction: column;

    span {
      opacity: 50%;
    }
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
  .messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    p {
      border-radius: 0 10px 10px 10px;
      max-width: max-content;
      margin-top: auto;
    }
    img {
      width: 40%;
    }
    span{
      color: var(--gray);
    }
    .sentImage {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
    }
  }
  &.owner {
    flex-direction: row-reverse; 
    .messageContent {
      align-items: flex-end;
      p {
        background-color: var(--black);
        color: var(--white);
        border-radius: 1rem 0px 1rem 1rem; 
        padding: 1rem ;
      }
    }
  }
  /*стили для сообщений получателя */
  &.receiver {
    flex-direction: row; 
    .messageContent {
      align-items: flex-start; 
      p {
        background-color: var(--dark);
        color: var(--white);
        border-radius: 0 1rem 1rem 1rem; 
        padding: 1rem ;
      }
    }
  }
}
