.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.feedback {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.reg {
  color: var(--green);
}
.log {
  max-width: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--blackglass);
  z-index: 99;
}
.feedback form {
  max-width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--blackglass);
  z-index: 99;
}

.formLeft {
  display: flex;
  justify-content: space-between;
}

.formLeft h2 {
  margin: 2rem;
  max-width: 40%;
}

.formRight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.consent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  a{
    text-decoration: underline;
  }
}

.feedback button {
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
}

.blub1 {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: scale(1.5);
}

.blub2 {
  position: absolute;
  top: 0%;
  left: 10%;
  transform: scale(1.5);
}

.blub3 {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: scale(1.5);
}

.footer {
  width: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0;
}

@media (max-width: 1200px) {
  .formLeft {
    flex-direction: column;
  }

  .formLeft h2 {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .feedback form {
    max-width: 80%;
  }

  .formLeft h2 {
    max-width: 100%;
    text-align: center;
  }
  .footer{
    display: none;
  }
}
