.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aboutText {
    h1 {
      margin: 6rem;
    }
    h2 {
      align-items: center;
      display: flex;
      margin: 6rem;
    }
    .blub2 {
      position: absolute;
      top: 100%;
      left: 5%;
      scale: 1.2;
      rotate: 180deg;
      opacity: 0.35;
      pointer-events: none;
      z-index: -1;
    }
  }

  img {
    margin: 0 2rem 0 auto;
    scale: 0.9;
  }
}
