.sideBarNav {
  display: flex;
  height: max-content;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  .navUserInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }

  .navUser {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
